---
layout: default
title: Home
---
<img src="https://www.sudoyashi.com/assets/img/header-cabby.jpeg" alt="First race with Cab" width=""100%"></img>
<center><h2>Unprofessional performance</h2>
  <p>
  Notes on cars and how not to fix them, featuring the <a href="https://sudoyashi.com/dacabby">ABA Volkswagen Golf Cabriolet</a>.
  <br>
  <br>
</center>
<hr><br>
<h2>Read something!</h2>
{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

</div>